@import 'base';

// STYLING FOR HEADER
header {
  @include justifyFlexedContainer(space-between);
  font-size: 1.5em;
  padding: 0 2%;
}

#logo {
  color: #7b8a56;
  font-size: 2em;
  margin-top: .5%;
  padding: .5% 0 0 .5%;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000,
               1px 1px 2.5px #000;
}

header section {
  @include justifyFlexedContainer(space-between);
  padding: 1.5% 0;
  width: 15%;
}

header p {
  color: #3d452b;
}

// STYLING FOR LANDING PAGE MAIN
main {
  background: url('../images/jessica-f-973vRak-llM-unsplash.jpg') center center / cover no-repeat;
  height: 90vh;
  padding: 0 2em;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 15em;
  text-align: center;
  text-shadow: 1px 1px 1px #000,
               3px 3px 5px #000;
}

h3 {
  font-style: italic;
  font-size: 2em;
  margin-top: 8%;
  text-align: center;
}

//STYLING FOR SIGN IN FORM
#sign-in-form,
#booking-trip-form {
  @include centerItemOnXAxis(-2%, 0);
  height: 38%;
  justify-content: space-between;
  width: 30%;
  position: relative;
  padding: 2%;
  z-index: 2;
}

#sign-in-form h2 {
  color: #000;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 2%;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  @include centerItemOnXAxis(0, 2%);
  @include itemHeightWidth(2em, 100%);
  border: 2px solid #ccccc5;
	caret-color: #DC5D58;
	font-size: 1.5em;
	padding-left: .5em;
}

#sign-in-form form button,
#admin-sign-in {
	background: #DC5D58;
	color: white;
	font-size: 1.5em;
	height: 2.2em;
}

#sign-in-form p {
  font-size: 1.2em;
  margin-top: 2%;
}

//DASHBOARD FOR A TRAVELER
.traveler-dashboard p {
  font-size: 2em;
  margin-bottom: 2%;
}

.display-trips {
  @include centerItemOnXAxis(0, 2%);
  @include itemHeightWidth(27%, 90%);
}

.display-trips h3 {
  color: #3d452b;
  margin: 0;
}

.trip-info {
  @include justifyFlexedContainer(space-around);
  flex-direction: row;
  overflow: scroll;
}

.traveler-dashboard {
  @include justifyFlexedContainer(space-between);
}

//DESTINATION BOOKING PAGE
.all-destination-cards {
  @include justifyFlexedContainer(space-around)
  flex-wrap: wrap;
}

.destination {
  @include itemHeightWidth(18em, 25%);
  margin: .5% .5%;
  padding: 1% 1% 1% 3%;
}

.destination-img {
  @include itemHeightWidth(auto, 95%);
  max-height: 60%;
}

//SUBMIT TRIP FORM
#booking-trip-form {
  margin-top: 5%;
}

span {
  font-weight: bold;
}

#cancel-booking,
.delete-trip {
  color: #DC5D58;
  background: none;
  text-decoration: underline;
}
